/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/10/2020, 07:10:07 AM
    Author     : Santiago
*/
.main {
            column-count:2;
        }
.main-two {
            column-count:3;
        }
.main-three {
            column-count:3;
        }
.table {
	width: 50%;
	height: 300px;
}